html, body {
    margin:0;
    padding:0;
    background:#EBEBEB;
    width:100%;
    height:100%;
}
.clear {
    clear:both;
}
.main {
    display:block;
    margin:0 auto 20px auto;
}
.global_header {
    display:block;
    margin:auto;
    padding:0;
    width:100%;
    color:#EEE;
    background:#333;
}
.header_text {
    display:block;
    padding:7px 5px;
    float:left;
    font:170% sans-serif;
}
.header_nav {
    display:block;
    padding:0 10px;
    float:right;
    
}
    .header_nav a {
        display:inline-block;
        padding:5px;
        font:100% sans-serif;
        text-decoration:none;
        color:#EEE;
        width:65px;
        text-align:center;
        background:#444;
    }
.console {
    display:block;
    margin:10px auto;
    padding:5px;
    width:95%;
    min-height:500px;
    background:#FFF;
    border-radius:5px;
    box-shadow:0 5px 10px #888;
    font:100% monospace, sans-serif;
}
    .console span {
        display:block;
    }
