#wrapper-header{
    margin:0;
    width:100%;
    height:auto;
    background:#37BC61;
}

.header-container {
    padding:1px 0;
}
#wrapper-nav{
    position:fixed;
    z-index: 100;
    bottom:0;
    left:0;
    width:100%;
    height:50px;
    background:#FFF;
    border-top:2px solid #DDD;
    text-align:center;

}
#wrapper-nav ul{
    margin:0;
    padding:0;
    width:100%;
    list-style:none;
    height:100%;
}
#wrapper-nav ul a{
    padding:5px 0;
    display:inline-block;
    text-decoration:none;
    color:#858585;
    font-size:100%;
    width:24%;
    text-transform:capitalize;
    -webkit-tap-highlight-color:rgba(0,0,0,0.2);
    
}
#wrapper-nav ul .active{
    color:#007F0E;
}

#content-container{
    margin:0;
    padding:50px 0 42px 0;
    
}

.content-container{
    -webkit-box-shadow:none;
    box-shadow:none;
}

.alert-message {
    text-transform:uppercase;
    font:90% "platform thin", "HelveticaNeue-UltraLight", sans-serif;
    font-weight:bold;
    color:#444;
}

.error-message{
    display:block;
    padding:10px;
    text-align:center;
    text-transform:uppercase;
    font:70% "platform thin", "HelveticaNeue-UltraLight", sans-serif;
    font-weight:bold;
    color:#444;
}

.content-article{
    display:block;
    margin:10px auto;
    padding:0;
    width:100%;
    background:#FFF;
    text-decoration:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0.2);
}

    .alert .message{

        padding:5px;
        background:#FEF0DB;
        text-transform:uppercase;
	    font:95% "platform thin", "HelveticaNeue-UltraLight", sans-serif;
        font-weight:bold;
	    color:#444;
        text-align:center;
    }
.week-day span {
    text-decoration:none;

}
    .week-day .data {
        display:none;
    }
    .week-day .container{
        
    }
    .week-day .label{
        color:#333;
        font:110% "platform light", "HelveticaNeue-Light", sans-serif;
    }
    .week-day .reason {
        float:right;
        margin:30px 20px 30px 0;
        width:auto;
        text-transform: uppercase;
        font: 100% "platform thin", "HelveticaNeue-UltraLight", sans-serif;
        font-weight: bold;
        color: #444;
        text-align:center;
    }
    .week-day .date{
        float:left;
        margin:0;
        padding-left:10px;
        text-align:center;
        color:#333;


    }
        .week-day .date .day{
            text-transform:uppercase;
            font:100% "platform light", "HelveticaNeue-Light", sans-serif;
        }
        .week-day .date .num{
            display:block;
            background:#37BC61;
            margin:0 0 0 2px;
            padding:8px 10px;
            color:#FFF;
            border-radius:50%;
            font:120% "platform thin", "HelveticaNeue-UltraLight", sans-serif;
        }
        .week-day .date .month{
            text-transform:uppercase;
            font:105% "platform light", "HelveticaNeue-Light", sans-serif;
        }
    .week-day .info {
        margin:5px;
        padding-right:10px;
        float:right;
         text-align:right;
    }
        .week-day .order{
            margin:0;
        }
        .week-day .order span{
            margin:0 0 0 20px;
            font:220% "platform thin", "HelveticaNeue-UltraLight", sans-serif;
            color:#333;
        }

        .week-day .structure span{
                margin:0;
                font:95% platform light, "HelveticaNeue-Light", sans-serif;
                color:#333;
               
            }
.schedule-header-container{
    height: 170px;
}
.schedule-header{
    margin:0;
    position: fixed;
    z-index:10;
    padding:15px 0;
    width:100%;
    background:#37BC61;
    /*background:#F2F2F2;*/
    text-align:center;
}
    .schedule-header .date{
        position:relative;
        display:inline-block;
        background:#FFF;
        width:140px;
        height:140px;
        border-radius:50%;
    }
        .schedule-header .date .day-container{
            padding-top:35px
    }
        .schedule-header .date .day{
            text-transform:uppercase;
            font:120% "platform light", "HelveticaNeue-Light", sans-serif;
        }
    .schedule-header .date .month-container{
    }
        .schedule-header .date .month{
            text-transform:uppercase;
            font:110% "platform light", "HelveticaNeue-Light", sans-serif;
        }
        .schedule-header .date .num{
            font:120% "platform thin", "HelveticaNeue-UltraLight", sans-serif;
        }
     .schedule-header .date .dayType-container{
    }
        .schedule-header .date .dayTypePre{
            text-transform:uppercase;
            font:110% "platform light", "HelveticaNeue-Light", sans-serif;
        }
         .schedule-header .date .dayType{
            font:120% "platform thin", "HelveticaNeue-UltraLight", sans-serif;
        }
.schedule-item-container{
    position:relative;
    z-index:20;
    -webkit-transform:translateZ(1px);
      -moz-transform:translateZ(1px);
      -o-transform:translateZ(1px);
      transform:translateZ(1px);
    background:#FFF;
    border-top:2px solid #DDD;
}

